{% load crispy_forms_tags %}
{% block head %}
<link href="https://bootswatch.com/5/quartz/bootstrap.min.css" rel="stylesheet">
{% endblock head %}
{% block content %}
<br>
    <div class="container" style="width:500px;height: 500px">
        <form action="" method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Sign In</legend>
                {{ form|crispy}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login In</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">Do you need an account?<a href="{% url 'register' %}">Register Now</a></small>
        </div>
<br>
    </div>
{% endblock content %}